// color
$mainColor: #f5cd6d;
$subColor: #f7e590;

// typography
$fontFamily: 'Pretendard';
$titleFontSize: 3rem;
$subTitleSize: 2rem;

// spacing
$tinySpacing: 0.75rem;
$littleSpacing: 1rem;
$smallSpacing: 2rem;
$mediumSpacing: 4rem;
$largeSpacing: 8rem;

// containerSize
$headerSize: 3rem;
