// color
$mainColor: #f5cd6d;
$subColor: #f7e590;
// 요소 색상
$fontColor: #444444;
$whiteColor: #ffffff;
$borderColor: #999999;
$placeholderColor: #aaaaaa;
$shadowColor: #dddddd;

// typography
$fontFamily: 'Pretendard Variable';
$titleFontSize: 3rem;
$subTitleFontSize: 1.5rem;

// spacing
$tinyTextSpacing: 0.75rem;
$smallTextSpacing: 1rem;
$mediumTextSpacing: 2rem;
$largeTextSpacing: 4rem;
$tinySpacing: 16px;
$smallSpacing: 24px;
$mediumSpacing: 52px;
$largeSpacing: 96px;

// containerSize
$contentMaxWidth: 1200px;
$headerHeight: 3.5rem;
$footerHeight: 30rem;
$mainContainerHeight: 1000px;
