@use '@/app/_styles/themes.scss' as themes;

// 비행기 개수, 비율
$airplaneAmount: 20;
$airplaneRatioInWrap: 4;

.flip {
  transform: scaleX(-1);
}

.listWrap {
  display: flex;
  position: relative;
  overflow: hidden;

  .airplaneList {
    white-space: nowrap;

    &.original {
      animation: 120s linear infinite normal none running originalSlide;
    }
    &.clone {
      position: absolute;
      left: themes.$maxWidth / $airplaneRatioInWrap * ($airplaneAmount);
      height: 100%;

      animation: 120s linear infinite normal none running cloneSlide;
    }
    &.stop {
      animation-play-state: paused;
    }

    .polaroidUp {
      transform: translateY(-15px);
    }

    .airplane {
      display: inline-block;
      position: relative;
      width: themes.$maxWidth / $airplaneRatioInWrap;
      height: 100%;

      cursor: pointer;

      .airplaneImage {
        box-sizing: border-box;
        padding: themes.$smallSpacing;
      }
      .thumbnail {
        position: relative;
        width: 27.7%;
        height: 45%;
        left: 36.5%;
        top: 13.5%;
      }

      .bubble {
        position: relative;
        height: 100%;
        width: 80%;
        left: 10%;
        top: -100%;
        p {
          position: absolute;
          left: 15%;
          top: 67.5%;

          box-sizing: border-box;
          width: 70%;
          height: 50px;
          padding: calc((50px - themes.$subTitleFontSize) / 2);
          overflow: hidden;

          font-size: themes.$subTitleFontSize;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: break-all;
        }
      }
    }
  }
}

@keyframes originalSlide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      -1 * themes.$maxWidth / $airplaneRatioInWrap * ($airplaneAmount)
    );
  }
  50.01% {
    transform: translateX(
      themes.$maxWidth / $airplaneRatioInWrap * ($airplaneAmount)
    );
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cloneSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -2 * themes.$maxWidth / $airplaneRatioInWrap * ($airplaneAmount)
    );
  }
}
