@use '@/app/_styles/themes.scss' as themes;

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;

  @include themes.inputStyle;

  .inputBox {
    width: 100%;
    margin-bottom: themes.$tinySpacing;
  }
  .loginButton {
    @include themes.buttonStyle;

    width: 100%;
    padding: themes.$tinySpacing;

    font-size: themes.$contentFontSize;
    span {
      height: themes.$titleFontSize2;
    }
  }
}
