@use '@/app/styles/themes.scss' as themes;

// CSS 컨벤션을 따를 것
.header {
  // 레이아웃
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  height: themes.$headerHeight;

  // 테두리, 배경
  box-shadow: 0px 2px 5px 0px themes.$shadowColor;
  background-color: themes.$whiteColor;

  //폰트
  font-family: themes.$fontFamily;

  .container {
    display: flex;
    flex: 1;
    align-items: center;

    max-width: themes.$contentMaxWidth;

    .logo {
      margin-left: themes.$mediumTextSpacing;
    }
    .leftContainer {
      margin-left: themes.$mediumTextSpacing;
      li {
        display: inline-block;
        margin-right: themes.$mediumTextSpacing;
      }
    }
    .rightContainer {
      margin-left: auto;
      margin-right: themes.$mediumSpacing;
      li {
        display: inline-block;
        margin-left: themes.$mediumTextSpacing;
      }
    }
  }
}

.footer {
  height: themes.$footerHeight;
}
