@use '@/app/styles/themes.scss' as themes;

.container {
  max-width: themes.$smallContentMaxWidth;
  margin: themes.$largeSpacing auto;

  .title {
    margin-bottom: themes.$mediumSpacing;

    font-size: themes.$titleFontSize2;
    text-align: center;
    font-weight: 600;
  }
}
